/* * {
  outline: 2px solid red;
} */

body {
  margin: 0px;
  padding: 0px;
}

.container {
  box-sizing: border-box;
  width: 24rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.padding {
  padding: 0rem 1rem;
}

.scoreBoard {
  font-size: 2rem;
  display: flex;
}

.result {
  display: flex;
  font-size: 2rem;
}

.btn {
  margin: 0rem 1rem;
}